code.highlighter-rouge {
    padding: 0.2em 0.4em;
    font-size: 0.85em;
    background-color: rgba(156, 130, 165, 0.2);
    color: #24292e;
    border-radius: 0.3rem;
    font-family: Consolas, Menlo, Monaco, 'Lucida Console', 'Liberation Mono', 'DejaVu Sans Mono', 'Bitstream Vera Sans Mono', 'Courier New', monospace, sans-serif;
}

.thiscode{
    border-radius: 0.5rem;

}

.circle {
    border-radius: 100%;
    width: 300px;
    height: 300px;
    background-color: #24292e;
    position: absolute;
    margin-top: 850px;
    margin-left: 1150px;
    z-index: -1;
}